saslprep

Just swinging by to give you a heads up that I made a saslprep implementation: https://crates.io/crates/stringprep

I've started looking into this. [RFC3454 Section 7](https://tools.ietf.org/html/rfc3454#section-7) describes handling of unassigned code points. That currently draws my attention, so I can get the implementation in `scram` right.

I think I'll need both the "stored strings" and "query" variant of the stringprep algorithm which `stringprep` currently doesn't provide. I've opened https://github.com/sfackler/rust-stringprep/issues/2 for that.